extends layout

block content
  h1 = title  
    div#contents
        form#addProgramForm(name="addProgramForm",method="post",action="/addProgram")
            div
               label(for='title') Title 
               input#title(type="text", name="title") 
            div
               label(for='description') Description 
               textarea#description(name="description")       
            div
               label(for='length') Length of Programming (in minutes) 
               input#length(type="text", name="length")  
            div
               label(for='days[]') Days Scheduled
               input#days(type="checkbox", name="days[]", value="monday")
               span Monday
               input#days(type="checkbox", name="days[]", value="tuesday") 
               span Tuesday   
               input#days(type="checkbox", name="days[]", value="wednesday")          
               span Wednesday   
               input#days(type="checkbox", name="days[]", value="thursday")          
               span Thursday
               input#days(type="checkbox", name="days[]", value="friday")          
               span Friday
               input#days(type="checkbox", name="days[]", value="saturday")          
               span Saturday
               input#days(type="checkbox", name="days[]", value="sunday")             
               span Sunday   
            button#btnSubmit(type="submit") submit
        div
            if (typeof(programs) !== 'undefined' && programs.length>0)
                ul
                   each program, i in programs
                     li
                        a(href="/programInfo?id=#{program._id}")= program.title
    