extends layout

block content
  h1 Search For Programming Title
  div#contents
        form#findProgramByTitle(name="title",method="post",action="/findProgram")
            label(for='title') please enter title: 
            input#title(type="text", name="title")       
            button#btnSubmit(type="submit") submit
     
    if (typeof(results) !== 'undefined' && results.length>0)
        h2 Results:
        ul
            each program, i in results
                li
                   a(href="/programInfo?id=#{program._id}")= program.title
    else if (typeof(query)==='string')
        p.resultsList I'm sorry there no results for "#{query}"
        if (typeof(suggestions) !== 'undefined' && suggestions.length>0)  
            span.resultsList Did you mean?
            each program, i in suggestions
                li
                   a(href="/programInfo?id=#{program._id}")= program.title
   
  