extends layout

block content
  h1#homeTitle ACME Network Broadcasting Utility
  div
     a(href="http://www.linkedin.com/pub/derek-burnes/9/992/19", target="_blank").derek By Derek Burnes
  div#car
     img(src="/imgs/nice-car.jpg");
    
   
  