doctype 5
html
  head
    title Developer Challenge
    link(rel='stylesheet', href='/css/style.css')
    body
   
    div#main   
        div#header
           <a href="/">Home</a>
           <a href="/findProgram">Find Program</a>
           <a href="/addProgram">Add Program</a>
        block content