extends layout

block content

    div#programInfo

        div
      
            span.bold Program Title: 
            span #{program.title}
  
        div
            - var timeString = ""
            - var hours = 0;
            - var minutes = 0;
            - if (typeof program.length != 'undefined'){ 
                  hours = Math.floor(program.length/60)
                  minutes = Math.floor(program.length%60)
            -}                            
       
            - if (hours > 0){ 
            -    timeString += hours + " " +( hours > 1 ? " hours" : "hour");
            -}
            - if (minutes>0){
            -     timeString +=  (timeString.length > 0 ? " and " : "") + minutes + " " + (minutes>1?"minutes":"minute");
            -}
       
            span.bold Program Length: 
            span #{timeString}
    
        div
            span.bold Description:
            span #{program.description}
       
        div
            span.bold Days Scheduled: 
            - var days = program.days;
            - var cleanString = "";
            - if (typeof days == 'string'){
            -    cleanString = days; 
            - }else if(typeof days == 'object'){
            -    for(var x = 0; x < days.length; x++){
            -        cleanString+=days[x];
            -        if(days[x+1]){
            -           cleanString+=", ";      
            -        }
            -    }
            -}
            span #{cleanString}
           
                  
           
          
            
               
                    
 
       
