body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background:#889;  
}

a ,a:link,a:visited,a:hover,a:active{
  color: #00B7CC;
}
#main{
	margin-left:auto;
	margin-right:auto;
	width:800px;
	background-color:white;
	padding:30px;
	min-height:500px;
}
#car{
	margin-top:40px
}
#car img{
	width:400px;	
}
.derek{
	font-size:15px;
	color:blue;
}
.bold{
    font-weight:bold;
}
#programInfo{
	font-size:20px;
}
#programInfo span{
	margin-right:10px;
}
#programInfo div, #addProgramForm div{
	margin-bottom:20px;
}
#findProgramByTitle{
	width:300px;
	height:70px;
	padding:15px;
	font-size:18px;
	border:1px solid black;
}
.resultsList{
	font-size:20px;
}
#btnSubmit{
	margin-top:20px;
}
#addProgramForm label{
	font-size:20px;
	text-decoration:underline;
	display:block;
	font-weight:bold;
}
#length{
	width:50px;
}
#header{
	text-align:center;
	font-size:18px;
	height:40px;
	margin-bottom:20px;
}
#header a{
	margin-right:15px;
}